<!doctype html>
<html>
<head>
	<title>Derrick Li - Single-Page Web Application Using a Database - Workout Tracker</title>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	{{{body}}}
</body>
</html>